@import url('https://fonts.googleapis.com/css?family=Apple+System');


.homePage{
    overflow: hidden;
}
.home{
    background-color: rgb(17,24,39);
    padding: 90px 0px;
}

.banner-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.start{
    width: 100%;
}
.start h1{
    text-align: left;
    color: white;
    font-family: 'Apple System', sans-serif;
    font-weight: 800;
    font-size: 60px;
}
.saas{
    width: 100%; 
}
.saas h1{
    text-align: left;
    color: white;
    font-family: 'Apple System', sans-serif;
    font-weight: 800;
    font-size: 60px;
}
.banner-paragraph{
    width: 100%;
}
.banner-paragraph p{
    text-align: left;
    color: white;
    font-family: 'Apple System', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.banner-btn{
    width: 100%;
    display: flex;
    gap: 20px;
    font-family: 'Apple System', sans-serif;
}
.banner-img img{
    height: 450px;
    /* margin-top: 64px;
    margin-bottom: 72px; */
}
#get-started{
    height: 44px;
    width: 144px;
    border: none;
    border-radius: 8px;
    background-color: rgb(22,101,52);
    color: white;
    font-family: 'Apple System', sans-serif;
}
#get-started:hover{
    background-color: rgb(20 83 45);
}
#subscribe{
    height: 44px;
    width: 144px;
    border: none;
    border-radius: 8px;
    background-color: rgb(22,101,52);
    color: white;
    font-family: 'Apple System', sans-serif;
}
#subscribe:hover{
    background-color: rgb(20 83 45);
}
@media only screen and (max-width: 975px){
    .banner-img img{
        display: none;
    }
}