@import url('https://fonts.googleapis.com/css?family=Apple+System');


.dayCount{
    padding: 100px 0px;
}
.number-repeat{
    margin-top: 30px;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.number-repeat h1{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Apple System', sans-serif;
}