.paidinvoice-wrappers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.paidinvoice-section {
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    padding: 16px 20px;
    width: 96%;
}
.paidInvoices_Now h5{
    color: black;
    text-align: left;
}
.paidinvoice-search input{
    margin-bottom: 1rem;
}

